* {
  margin: 0;
  padding: 0;
}


.joe {
      height: 110px;
      width: 100%;
      background-color: #7ED9BF;
      opacity: 0.8;
      display: flex;
}

.logo {
    height: 70px;
    width: 70px;
    background-color: white;
    align-items: center;
    margin: 20px 0px 10px 2%;
}

.menu {
    height: 70px;
    width: 650px;
    background-color: white;
    margin: 20px 0px 0px 100px;
}

.barreDeRecherche {
    height: 70px;
    width: 650px;
    background-color: white;
    margin: 20px 0px 0px 100px;
}


.compte {
    height: 70px;
    width: 70px;
    background-color: white;
    align-items: center;
    margin: 20px 0px 10px 10px;
}

.panier {
    height: 70px;
    width: 70px;
    background-color: white;
    align-items: center;
    margin: 20px 0px 10px 10px;
}



.dalton {
    background-color: black;
    height: 75vh;
    width: 100%;
    margin: 5% 0% 0% 0%;
    display: flex;
}

.sousMenu {
    background-color: #7ED9BF;
    height: 75vh;
    width: 20%;
    margin: 0% 0% 0% 2%;
}

.image1 {
      background-color: #7ED9BF;
      height: 300px;
      width: 300px;
      margin: 0% 0% 0% 2%;
}

.image2 {
      background-color: #7ED9BF;
      height: 300px;
      width: 300px;
      margin: 42% 0% 0% 2%;
}

.image3 {
      background-color: #7ED9BF;
      height: 300px;
      width: 300px;
      margin: 0% 0% 0% 2%;
}

.image4 {
      background-color: #7ED9BF;
      height: 300px;
      width: 300px;
      margin: 42% 0% 0% 2%;
}
.image5 {
      background-color: #7ED9BF;
      height: 300px;
      width: 300px;
      margin: 0% 0% 0% 2%;
}
.image6 {
      background-color: #7ED9BF;
      height: 300px;
      width: 300px;
      margin: 42% 0% 0% 2%;
}
.image7 {
      background-color: #7ED9BF;
      height: 300px;
      width: 300px;
      margin: 0% 0% 0% 2%;
}
.image8 {
      background-color: #7ED9BF;
      height: 300px;
      width: 300px;
      margin: 42% 0% 0% 2%;
}

.rangeeUne{
  margin: 0% 0% 0% 5%;
}

.rangeeDeux{
  margin: 0% 0% 0% 2%;
}

.rangeeTrois{
  margin: 0% 0% 0% 2%;
}

.rangeeQuatre{
  margin: 0% 0% 0% 2%;
}
